<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<th:block th:insert="~{fragment/header}"></th:block>
<head>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록</h2>
    </div>

    <form th:action="@{/item/add}" th:object="${item}" method="post" enctype="multipart/form-data">

        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:errorclass="field-error" class="form-control" placeholder="상품명을 입력하세요">
            <div class="field-error" th:errors="*{itemName}">상품명 오류</div>
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}"
                   th:errorclass="field-error" class="form-control" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}">가격 오류</div>
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}"
                   th:errorclass="field-error" class="form-control" placeholder="수량을 입력하세요">
            <div class="field-error" th:errors="*{quantity}">수량 오류</div>
        </div>
        <div class="file_list">
            <div>
                <div class="file_input">
                    <label for="formFile" class="form-label">첨부파일</label>
                        <input type="file" class="form-control" id="formFile" name="files" onchange="selectFile(this);" />
                </div>
                <button type="button" onclick="removeFile(this);" class="btn btn-secondary btn-sm">삭제</button>
                <button type="button" onclick="addFile();" class="btn btn-secondary btn-sm">파일 추가</button>
            </div>
        </div>
        <div>
            <label for="content">내용</label>
            <textarea id="content" th:field="*{content}" th:errorclass="field-error" class="form-control" placeholder="내용을 입력해주세요" style="height: 200px"></textarea>
            <div class="field-error" th:errors="*{content}">내용 오류</div>
        </div>

        <hr class="my-4">

        <!-- radio button -->
        <div>
            <div>판매 여부 </div>
            <div th:each="open : ${openYn}" class="form-check form-check-inline">
                <input type="radio" th:field="*{open}" th:value="${open.key}" class="form-check-input">
                <label th:for="${#ids.prev('open')}" th:text="${open.value}" class="form-check-label">판매가능</label>
            </div>
            <div class="field-error" th:errors="*{open}"></div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/item}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>

<script>
    // 파일 선택
    function selectFile(element) {
        const file = element.files[0];

        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            element.value = '';
            return false;
        }
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
            <div class="file_input">
                <input type="file" class="form-control" name="files" onchange="selectFile(this);" />
            </div>
            <button type="button" onclick="removeFile(this);" class="btn btn-secondary btn-sm">삭제</button>
        `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }


    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }
</script>
</html>