<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.market.item.mapper.ItemMapper">

    <select id="findAll" resultType="item" parameterType="SearchDto">
        /* findAll */
        SELECT
            a.id
            , a.itemName
            , a.content
            , a.create_date
            , a.update_date
            , a.price
            , a.quantity
            , a.open
            , a.user_id
            , a.create_user
            , b.id AS file_id
        FROM
            tb_item a
        LEFT JOIN
            tb_file b
            ON a.id = b.item_id
        <where>
            <if test="itemName != null and itemName != ''">
                and itemName like concat('%', #{itemName}, '%')
            </if>
            <if test="price != null and price != ''">
                and price &lt;= #{price}
            </if>
        </where>
        GROUP BY
            a.id
        ORDER BY
            a.id desc
        LIMIT
            #{pagination.limitStart}, #{recordSize}
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="SearchDto" resultType="int">
        /* count */
        SELECT
            COUNT(*)
        FROM
            tb_item
        <where>
            <if test="itemName != null and itemName !=''">
                and itemName like concat('%', #{itemName}, '%')
            </if>
            <if test="price != null and price != ''">
                and price &lt;= #{price}
            </if>
        </where>
    </select>

    <insert id="save">
        INSERT INTO tb_item (
            itemName
            , content
            , price
            , quantity
            , open
            , user_id
            , create_user
        ) VALUE (
            #{itemName}
            , #{content}
            , #{price}
            , #{quantity}
            , #{open}
            , #{userId}
            , #{createUser}
        )

        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findById" resultType="Item">
        SELECT
            a.id
            , a.itemName
            , a.content
            , a.create_date
            , a.update_date
            , a.price
            , a.quantity
            , a.open
            , a.create_user
            , a.update_user
            , a.user_id
        FROM
            tb_item a
        WHERE 1=1
            AND a.id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM tb_item
            WHERE 1=1
        AND id = #{id}
    </delete>

    <update id="update">
        UPDATE tb_item SET
            itemName = #{itemName}
            , content = #{content}
            , price = #{price}
            , quantity = #{quantity}
            , open = #{open}
            , update_date = CURRENT_TIMESTAMP
            , update_user = #{updateUser}
        WHERE
            id = #{id}

        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT
                a.id
            FROM
                tb_item a
            WHERE 1=1
                AND a.id = #{id}
        </selectKey>
    </update>
</mapper>